// CONTENTS
// 0. SASS setup
// 1. Imports
// 2. Framework customisations
// 3. Site-wide / HTML elements
// 4. Blocks: BEM, OOCSS, DRY CSS
// 5. Page specific sections
// 6. Helper CSS style applicators
// 7. Media queries
// 8. Animations

// 0. SASS setup
$base-color: #005331;
$base-color-hover-dark: #0a2218;
$highlight-color: #efc819;
$highlight-color-dark: #806d14;
$highlight-color-hover-dark: #c0a31c;
$box-shadow-1: rgba(0, 0, 0, 0.1) 0 0 50px 0;
$border-radius-default: 5px;
$gray-1: #333;
$gray-2: #666;
$gray-3: #999;
$gray-4: #ccc;

@mixin button-3d($base-color, $shadow-color, $hover-base-color) {
	background-color: $base-color;
	box-shadow: 0 2px 0 0 $shadow-color;
	border: 0;
	text-transform: uppercase;
	font-weight: 700;
	&:hover, &:active, &:focus {
		background-color: $hover-base-color;
	}
}

// 1. Imports
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,300i,400,400i,600,600i,700');

// 2. Framework customisations
.navbar.navbar-default {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	font-family: "Titillium Web";
	font-weight: 700;
	font-size: 16px;
	& .navbar-nav > li > a {
		color: #333 !important;
	}
	& .navbar-nav > li.active > a {
		@media (min-width: 768px) {
			border-bottom: 2px solid #ccc;
		}
		color: $base-color !important;
		&:hover, &:focus {
			color: $base-color-hover-dark;
		}
	}
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
}
.navbar li.active {
	&>a {
		background-color: transparent !important;
	}
}
.navbar-brand {
	height: auto;
	width: 200px;
	padding-top: 15px;
}
.navbar-nav > li > a {
	padding-top: 27px;
}
.navbar-toggle {
	margin-top: 32px;
}

// 3. Site-wide / HTML elements
body {
	color: #333;
	font-family: "Titillium Web", sans-serif;
	background-image: url(../img/concrete-texture.png);
	background-repeat: repeat;
}
h1 {
	font-size: 28px;
	margin-bottom: 20px;
}
a {
	color: $base-color;
	text-decoration: none !important;
	&:hover, &:focus {
		color: $base-color-hover-dark;
	}
	&.highlight-color {
		color: $highlight-color;
		&:hover, &:focus, &:active {
			color: $highlight-color-hover-dark;
		}
	}
}
input {
	border-radius: $border-radius-default;
	background-color: transparent;
	border: 1px solid $gray-3;
	&:focus, &:active {
		outline: 0;
	}
}

// 4. Blocks: BEM, OOCSS, DRY CSS
// 5. Page specific sections
// 6. Helper CSS style applicators
// 7. Media queries
.page-wrapper {
	max-width: 100vw;
}
.nav-logo {
	max-width: 100%;
}
.site-wide-banner {
	animation-name: flashing-banner;
	animation-duration: 1s;
	// animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	// background-color: $base-color;
	padding: 10px;
	color: #fff;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	i {
		margin-left: 5px;
		margin-right: 5px;
	}
	p {
		margin: 0;
	}
}
.location-phones {
	line-height: 1;
	text-align: right;
	margin-bottom: 25px;
	.location {
		display: inline-block;
		background-color: $base-color;
		font-size: 14px;
		padding: 10px 25px;
		border-radius: $border-radius-default;
		.location-name {
			font-weight: 600;
			text-align: left;
			// text-transform: uppercase;
			margin-bottom: 0;
			float: right;
			color: #fff;
		}
		.location-phone {
			font-weight: 700;
			color: #fff;
			margin-top: 5px;
			display: inline-block;
		}
	}
}
.value-statement {
	margin: 0 0 25px;
	.static-value-statement {
		margin: 10px 0;
	}
	.animated-value-statement {
		ul {
			display: hidden !important;
		}
		.word1 {
			min-width: 200px !important;
			text-align: center;
			font-weight: 600;
			color: $base-color
		}
	}
}
.coupon-call-to-action {
	margin-bottom: 55px;
	.coupon-wrapper {
		background: repeating-linear-gradient(
			45deg,
			#000,
			#000 15px,
			$base-color 15px,
			$base-color 30px
		);
		border-radius: $border-radius-default;
		padding: 15px;
		margin-top: 25px;
		.call-to-action-text {
			margin: 0;
			text-shadow: 0 2px #000;
			font-weight: 700 !important;
			font-size: 26px;
			text-align: center;
			a {
				color: #fff !important;
			}
			.coupon-discount {
				color: red;
			}
			.coupon-timer {
				color: red;
			}
			.coupon-code {
				color: yellow;
			}
		}
	}
}
.featured-products-slider-wrapper {
	max-width: 85%;
	margin: 0 auto;
	@media (max-width: 768px) {
		max-width: 80%;
		margin: 0 auto;
	}
	.featured-products-slider {
		border-radius: 10px;
		box-shadow: 0 0 80px 0px rgba(0,0,0,0.2);
		.slick-prev:before {
			content: '\2039';
		}
		.slick-next:before {
			content: '\203A';
		}
		.slick-prev:before, .slick-next:before {
			font-size: 70px;
			color: #333;
			line-height: 0;
			vertical-align: middle;
			font-family: Arial, sans-serif;
		}
		.slick-prev {
			left: -45px;
		}
		.slick-next {
			right: -45px;
		}
		.slide {
			// background-image: url(../img/samuel-zeller-15935.jpg);
			background-size: cover;
			background-position: center;
			min-height: 280px;
			padding: 45px 0 30px;
			position: relative;
			.product-title {
				font-weight: 700;
				font-size: 22px;
			}
			.product-description {
			}
			.product-image {
				min-height: 200px;
				float: right;
				margin-top: 25px;
			}
			.shop-link {
				text-transform: uppercase;
				font-weight: 700;
				font-size: 20px;
				margin-top: 25px;
				padding: 4px 50px;
				color: #fff;
			}
			.overlay {
				// background-color: transparentize($base-color, 0.7);
				border-radius: 10px;
			}
			@media (max-width: 768px) {
				.product-description {
					display: none;
				}
				.product-image {
					float: none;
					margin: 25px auto;
				}
			}
		}
	}
}
.contact-links {
	font-weight: 700;
	font-size: 18px;
	margin: 0 0 20px;
	a {
		margin: 35px 45px 15px 0;
		display: inline-block;
		i {
			margin-right: 10px;
		}
	}
}
.toggleable-tabs .nav {
	font-weight: 600;
	&.nav-pills {
		border-radius: 4px;
		margin-bottom: 20px;
		& > li {
			margin: 0;
			& > a {
				border-left: 1px solid $base-color;
				border-right: 1px solid $base-color;
			}
			&:first-child {
				& > a {
					border-top: 1px solid $base-color;
				}
				& > a {
					border-radius: 4px 4px 0 0;
				}
			}
			&:last-child {
				& > a {
					border-bottom: 1px solid $base-color;
				}
				& > a {
					border-radius: 0 0 4px 4px;
				}
			}
			& > a {
				border-radius: 0;
			}
		}
		& > li.active {
			& > a, & > a:hover, & > a:active {
				background-color: $base-color;
			}
		}
	}
}
.product-grid, .categories-grid, .product-list {
	.product-image {
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto;
		box-shadow: $box-shadow-1;
		padding-top: 100%;
		border-radius: $border-radius-default;
	}
	.product-title {
		font-size: 18px;
		font-weight: 600;
	}
}
.product-grid, .categories-grid {
	.product {
		margin-bottom: 20px;
		.product-tag {
			text-transform: uppercase;
			border-radius: 10px;
			background-color: #333;
			color: #fff;
			display: inline-block;
			padding: 0 7px;
			font-size: 12px;
			font-weight: 600;
			margin-right: 5px;
		}
		.add-to-cart-button {
			margin: 5px 0 9px;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
			a {
				border-radius: 10px;
				padding: 0 10px;
				color: #fff !important;
				background-color: $base-color;
				&:hover, &:active, &:focus {
					background-color: $base-color-hover-dark;
				}
			}
		}
	}
}
.product-list {
	margin-top: 20px;
	.product-details-input-head {
		margin-top: 20px;
		table {
			text-transform: uppercase;
			font-weight: 600;
		}
	}
	.product-details-input {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	table {
		width: 100%;
		& > tbody > tr > td.size {
			width: 40%;
		}
		& > tbody > tr > td.weight {
			width: 35%;
		}
		& > tbody > tr > td.quantity {
			width: 25%;
			input {
				width: 100%;
				max-width: 70px;
				text-align: center;
			}
		}
	}
	.product {
		margin-top: 20px;
		margin-bottom: 10px;
		border-bottom: 1px solid $gray-4;
		padding-bottom: 20px;
	}
	.product-list-head {
		background-color: $base-color;
		color: #fff;
		border-radius: $border-radius-default;
		padding-top: 10px;
		padding-bottom: 10px;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 16px;
	}
}
.categories-grid {
	.product {
		margin-bottom: 10px;
		.product-image {
			background-size: auto 80%;
			padding-top: 80%;
			box-shadow: $box-shadow-1;
		}
		.product-title {
			font-weight: 700 !important;
			margin: 10px 5px 10px;
		}
	}
}
.call-to-action {
	margin-top: 45px;
	margin-bottom: 45px;
	padding: 30px 0;
	background-image: url(../img/construction-site.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	p {
		color: #fff;
		font-weight: 600;
		font-size: 18px;
		margin: 0;
	}
	.overlay {
		background-color: transparentize($base-color-hover-dark, 0.2);
	}
	.call-to-action-button {
		@include button-3d($highlight-color, $highlight-color-dark, $highlight-color-hover-dark);
		color: $base-color-hover-dark;
		font-size: 20px;
		margin-top: 10px;
		@media (max-width: 768px) {
			margin-top: 25px;
		}
	}
}
footer {
	background-color: $base-color;
	color: #fff;
	a {
		color: inherit;
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			margin: 0 0 5px;
		}
	}
	.map {
		max-width: 250px;
		height: 250px;
	}
	.footer-copyright {
		background-color: $base-color-hover-dark;
		padding: 20px 0 10px;
		.social-media {
			display: inline;
			padding: 15px 0;
		}
		.copyright {
			float: right;
			padding: 15px 0;
		}
	}
}
.brochure-download {
	margin: 15px 0;
	@media (min-width: 768px) {
		float: right;
	}
}
.breadcrumbs {
	font-weight: 600;
}

// 5. Page specific sections

// 6. Helper CSS style applicators
.highlight-color {
	color: $highlight-color;
}
.highlighted-button {
	background-color: $highlight-color;
	box-shadow: 0 2px 0 0 $highlight-color-dark;
	border: 0;
	color: #fff !important;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	&:hover, &:active, &:focus {
		background-color: $highlight-color-hover-dark;
	}
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// 7. Media queries

// 8. Animations
@keyframes flashing-banner {
	0% {
		background-color: #D4423F;
	}
	100% {
		background-color: darken(#FF4F4C, 50%);
	}
}
