@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,300i,400,400i,600,600i,700");
.navbar.navbar-default {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-family: "Titillium Web";
  font-weight: 700;
  font-size: 16px; }
  .navbar.navbar-default .navbar-nav > li > a {
    color: #333 !important; }
  .navbar.navbar-default .navbar-nav > li.active > a {
    color: #005331 !important; }
    @media (min-width: 768px) {
      .navbar.navbar-default .navbar-nav > li.active > a {
        border-bottom: 2px solid #ccc; } }
    .navbar.navbar-default .navbar-nav > li.active > a:hover, .navbar.navbar-default .navbar-nav > li.active > a:focus {
      color: #0a2218; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent; }

.navbar li.active > a {
  background-color: transparent !important; }

.navbar-brand {
  height: auto;
  width: 200px;
  padding-top: 15px; }

.navbar-nav > li > a {
  padding-top: 27px; }

.navbar-toggle {
  margin-top: 32px; }

body {
  color: #333;
  font-family: "Titillium Web", sans-serif;
  background-image: url(../img/concrete-texture.png);
  background-repeat: repeat; }

h1 {
  font-weight: 200;
  font-size: 32px;
  margin-bottom: 20px; }

a {
  color: #005331;
  text-decoration: none !important; }
  a:hover, a:focus {
    color: #0a2218; }
  a.highlight-color {
    color: #efc819; }
    a.highlight-color:hover, a.highlight-color:focus, a.highlight-color:active {
      color: #c0a31c; }

.nav-logo {
  max-width: 100%; }

.site-wide-banner {
  animation-name: flashing-banner;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 18px; }
  .site-wide-banner i {
    margin-left: 5px;
    margin-right: 5px; }
  .site-wide-banner p {
    margin: 0; }

.location-phones {
  line-height: 1;
  text-align: right; }
  .location-phones .location {
    display: inline-block;
    background-color: #005331;
    font-size: 16px;
    padding: 10px 35px;
    border-radius: 5px; }
    .location-phones .location .location-name {
      font-weight: 600;
      text-align: left;
      margin-bottom: 0;
      float: right;
      color: #fff; }
    .location-phones .location .location-phone {
      font-weight: 700;
      color: #fff;
      margin-top: 5px;
      display: inline-block; }

.value-statement {
  margin: 25px 0; }
  .value-statement .static-value-statement {
    margin: 10px 0; }
  .value-statement .animated-value-statement ul {
    display: hidden !important; }
  .value-statement .animated-value-statement .word1 {
    min-width: 200px !important;
    text-align: center;
    font-weight: 600;
    color: #005331; }

.coupon-call-to-action {
  margin-bottom: 55px; }
  .coupon-call-to-action .coupon-wrapper {
    background: repeating-linear-gradient(45deg, #000, #000 15px, #005331 15px, #005331 30px);
    border-radius: 5px;
    padding: 15px;
    margin-top: 25px; }
    .coupon-call-to-action .coupon-wrapper .call-to-action-text {
      margin: 0;
      text-shadow: 0 2px #000;
      font-weight: 700 !important;
      font-size: 26px;
      text-align: center; }
      .coupon-call-to-action .coupon-wrapper .call-to-action-text a {
        color: #fff !important; }
      .coupon-call-to-action .coupon-wrapper .call-to-action-text .coupon-discount {
        color: red; }
      .coupon-call-to-action .coupon-wrapper .call-to-action-text .coupon-timer {
        color: red; }
      .coupon-call-to-action .coupon-wrapper .call-to-action-text .coupon-code {
        color: yellow; }

@media (max-width: 768px) {
  .featured-products-slider-wrapper {
    max-width: 85%;
    margin: 0 auto; } }
.featured-products-slider-wrapper .featured-products-slider {
  border-radius: 10px;
  box-shadow: 0 0 80px 0px rgba(0, 0, 0, 0.2); }
  .featured-products-slider-wrapper .featured-products-slider .slick-prev:before {
    content: '\2039'; }
  .featured-products-slider-wrapper .featured-products-slider .slick-next:before {
    content: '\203A'; }
  .featured-products-slider-wrapper .featured-products-slider .slick-prev:before, .featured-products-slider-wrapper .featured-products-slider .slick-next:before {
    font-size: 70px;
    color: #333;
    line-height: 0;
    vertical-align: middle;
    font-family: Arial, sans-serif; }
  .featured-products-slider-wrapper .featured-products-slider .slick-prev {
    left: -45px; }
  .featured-products-slider-wrapper .featured-products-slider .slick-next {
    right: -45px; }
  .featured-products-slider-wrapper .featured-products-slider .slide {
    background-size: cover;
    background-position: center;
    min-height: 280px;
    padding: 45px 0 30px;
    position: relative; }
    .featured-products-slider-wrapper .featured-products-slider .slide .product-title {
      font-weight: 700;
      font-size: 26px; }
    .featured-products-slider-wrapper .featured-products-slider .slide .product-image {
      min-height: 200px;
      float: right;
      margin-top: 25px; }
    .featured-products-slider-wrapper .featured-products-slider .slide .shop-link {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 20px;
      margin-top: 25px;
      padding: 4px 50px;
      color: #fff; }
    .featured-products-slider-wrapper .featured-products-slider .slide .overlay {
      border-radius: 10px; }
    @media (max-width: 768px) {
      .featured-products-slider-wrapper .featured-products-slider .slide .product-description {
        display: none; }
      .featured-products-slider-wrapper .featured-products-slider .slide .product-image {
        float: none;
        margin: 25px auto; } }

.contact-links {
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 20px; }
  .contact-links a {
    margin: 35px 45px 15px 0;
    display: inline-block; }
    .contact-links a i {
      margin-right: 10px; }

.toggleable-tabs .nav {
  font-weight: 600; }
  .toggleable-tabs .nav.nav-pills {
    border-radius: 4px;
    margin-bottom: 20px; }
    .toggleable-tabs .nav.nav-pills > li {
      margin: 0; }
      .toggleable-tabs .nav.nav-pills > li > a {
        border-left: 1px solid #005331;
        border-right: 1px solid #005331; }
      .toggleable-tabs .nav.nav-pills > li:first-child > a {
        border-top: 1px solid #005331; }
      .toggleable-tabs .nav.nav-pills > li:first-child > a {
        border-radius: 4px 4px 0 0; }
      .toggleable-tabs .nav.nav-pills > li:last-child > a {
        border-bottom: 1px solid #005331; }
      .toggleable-tabs .nav.nav-pills > li:last-child > a {
        border-radius: 0 0 4px 4px; }
      .toggleable-tabs .nav.nav-pills > li > a {
        border-radius: 0; }
    .toggleable-tabs .nav.nav-pills > li.active > a, .toggleable-tabs .nav.nav-pills > li.active > a:hover, .toggleable-tabs .nav.nav-pills > li.active > a:active {
      background-color: #005331; }

.product-grid .product, .categories-grid .product {
  margin-bottom: 20px; }
  .product-grid .product .product-image, .categories-grid .product .product-image {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 50px 0;
    padding-top: 100%;
    border-radius: 5px; }
  .product-grid .product .product-title, .categories-grid .product .product-title {
    font-size: 20px;
    font-weight: 600; }
  .product-grid .product .product-tag, .categories-grid .product .product-tag {
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 5px; }
  .product-grid .product .add-to-cart-button, .categories-grid .product .add-to-cart-button {
    margin: 5px 0 9px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700; }
    .product-grid .product .add-to-cart-button a, .categories-grid .product .add-to-cart-button a {
      border-radius: 10px;
      padding: 0 10px;
      color: #fff !important;
      background-color: #005331; }
      .product-grid .product .add-to-cart-button a:hover, .product-grid .product .add-to-cart-button a:active, .product-grid .product .add-to-cart-button a:focus, .categories-grid .product .add-to-cart-button a:hover, .categories-grid .product .add-to-cart-button a:active, .categories-grid .product .add-to-cart-button a:focus {
        background-color: #0a2218; }

.categories-grid .product {
  margin-bottom: 10px; }
  .categories-grid .product .product-image {
    background-size: auto 80%;
    padding-top: 80%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 50px 0; }
  .categories-grid .product .product-title {
    font-weight: 700 !important;
    margin: 10px 5px 0; }

.call-to-action {
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 25px;
  background-image: url(../img/construction-site.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .call-to-action p {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin: 0; }
  .call-to-action .overlay {
    background-color: rgba(10, 34, 24, 0.8); }
  .call-to-action .call-to-action-button {
    background-color: #efc819;
    box-shadow: 0 2px 0 0 #806d14;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #0a2218;
    font-size: 20px;
    margin-top: 20px; }
    .call-to-action .call-to-action-button:hover, .call-to-action .call-to-action-button:active, .call-to-action .call-to-action-button:focus {
      background-color: #c0a31c; }

footer {
  background-color: #005331;
  color: #fff; }
  footer a {
    color: inherit; }
  footer ul {
    list-style: none;
    padding: 0; }
    footer ul li {
      margin: 0 0 5px; }
  footer .map {
    max-width: 250px;
    height: 250px; }
  footer .footer-copyright {
    background-color: #0a2218;
    padding: 20px 0 10px; }
    footer .footer-copyright .social-media {
      display: inline;
      padding: 15px 0; }
    footer .footer-copyright .copyright {
      float: right;
      padding: 15px 0; }

.highlight-color {
  color: #efc819; }

.highlighted-button {
  background-color: #efc819;
  box-shadow: 0 2px 0 0 #806d14;
  border: 0; }
  .highlighted-button:hover, .highlighted-button:active, .highlighted-button:focus {
    background-color: #c0a31c; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@keyframes flashing-banner {
  0% {
    background-color: #D4423F; }
  100% {
    background-color: #4c0100; } }

/*# sourceMappingURL=style.css.map */
